{
  "languageserver": {
    "intelephense": {
      "command": "intelephense",
      "args": ["--stdio"],
      "filetypes": ["php"],
      "initializationOptions": {
        "storagePath": "/tmp/intelephense",
        "licenceKey": "<path>/intelephense/license.txt"
      }
    }
  }
}
